{% extends 'core/estrutura.html' %}
{% load static %}

{% block title %}Lista de Pacientes{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'assets/plugins/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-select/css/select.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/easy-loading/css/easy-loading.min.css' %}">
{% endblock %}

{% block extrabottomjs %}
<script src="{% static 'assets/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-select/js/dataTables.select.min.js' %}"></script>

<script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/plugins/buttons-html5/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'assets/plugins/easy-loading/js/easy-loading.min.js' %}"></script>
<script src="{% static 'assets/ERP/js/paciente.js' %}"></script>
{% endblock %}

{% block classbody %}hold-transition sidebar-mini{% endblock %}

{% block content %}


<style>
    .uppercase {
      text-transform: uppercase;
    }

    .lowercase {
      text-transform: lowercase;
    }

    .capitalize {
      text-transform: capitalize;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Pacientes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Agenda</a></li>
                        <li class="breadcrumb-item active">Pacientes</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive">
                        <table id="id_table_pacientes" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                                {{colunas | safe}}
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="id_modal_paciente_novo_editar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="id_form_criar_ou_editar_paciente" method="POST">
                        {% csrf_token %}
                        <input type="text" name="comando" id="comando_novo_editar" hidden>
                        <input type="text" id="id_criar_editar" name="id" hidden>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nome Completo:</label>
                                    <div class="input-group">
                                        <input name="nomeCompleto" id="nomeCompleto"
                                               class="form-control uppercase" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Whatsapp:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               data-inputmask='"mask": "(99) 9 9999-9999"'
                                               data-mask name="whatsapp" id="whatsapp">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Telefone:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               data-inputmask='"mask": "(99) 9 9999-9999"'
                                               data-mask name="telefone" id="telefone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cidade:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control uppercase" name="cidade" id="cidade" value="TERESINA">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CEP:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-inputmask='"mask": "99999-999"'
                                               data-mask name="cep" id="cep">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Facebook</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="facebook" id="facebook">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Instagram</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="instagram" id="instagram">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <div class="input-group">
                                        <input type="email" class="form-control" name="email" id="email" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" id="button_salvar_paciente" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="id_modal_paciente_excluir">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Excluir Paciente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" align="justify">
                    <spam>Digite o Código
                        <spam style="color:red" id="codigo_excluir_paciente"></spam>
                        e clique no botão
                        <spam style="color:red">Excluir Paciente</spam>.
                        <spam style="font-weight: bold;">Atenção, após a exclusão não será mais possível
                            resgatar o paciente
                        </spam>
                        <spam style="color:red; word-wrap: break-word;" id="nome_excluir_paciente"></spam>
                    </spam>
                    <form id="id_form_excluir_paciente" method="POST">
                        {% csrf_token %}
                        <input type="text" name="comando" id="comando_excluir" value="#excluir#" hidden>
                        <input type="text" id="id_paciente_selecionado" name="id" hidden>
                        <div class="form-group p-2">
                            <label for="id_excluir">Cód. do Paciente</label>
                            <input type="number" class="form-control" name="id_excluir" id="id_excluir" required>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" id="button_excluir_paciente" class="btn btn-danger">Excluir Paciente</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
{% endblock %}
