{% extends 'core/estrutura.html' %}
{% load static %}

{% block title %}Lista de Pacientes{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'assets/plugins/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/datatables-select/css/select.dataTables.min.css' %}">
{% endblock %}

{% block extrabottomjs %}
<script src="{% static 'assets/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables-select/js/dataTables.select.min.js' %}"></script>

<script src="{% static 'assets/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/plugins/buttons-html5/buttons.html5.min.js' %}"></script>

{% endblock %}

{% block classbody %}hold-transition sidebar-mini{% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Pacientes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Agenda</a></li>
                        <li class="breadcrumb-item active">Pacientes</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive">
                        <table id="id_table_pacientes" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                            <tr>
                                <th style="width:5%">Cód.</th>
                                <th>Nome</th>
                                <th style="width:10%">Whatsapp</th>
                                <th style="width:10%">Telefône</th>
                                <th>E-mail</th>
                                <th>Rede Social</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="id_modal_paciente_novo_editar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Ola</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="id_form_novo_editar" method="POST">
                        {% csrf_token %}
                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome Completo:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-injured"></i></span>
                                    </div>
                                    <input type="text" name="nomeCompleto" id="id_nomeCompleto" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Whatsapp:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-whatsapp"></i></span>
                                    </div>
                                    <input type="text" name="whatsapp" id="id_whatsapp" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Telefone:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"'
                                           data-mask name="telefone" id="id_telefone">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cidade:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-city"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="cidade" id="id_cidade">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cidade</label>
                                <select class="form-control select2" style="width: 100%;">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>CEP:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="cep" id="id_cep">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Facebook</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-facebook-square"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="facebook" id="id_facebook">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Instagram</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fab fa-instagram"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="instagram" id="id_instragram">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>E-mail</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-at"></i></span>
                                    </div>
                                    <input type="email" class="form-control" name="email" id="id_email">
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="id_modal_paciente_excluir">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Excluir Paciente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <spam>Digite o Código do paciente e clique no botão <spam style="color:red">Excluir Paciente</spam>.
                        <spam style="font-weight: bold;">Atenção, após a exclusão do paciente não será mais possível resgatá-lo</spam>
                    </spam>
                    <div class="form-group p-2">
                        <label for="id_paciente">Cód. do Paciente</label>
                        <input type="text" class="form-control" id="id_paciente">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger">Excluir Paciente</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}

    $("#id_nav_link_pacientes").addClass("active");

    let table = $("#id_table_pacientes").DataTable({

        dom:"<'row be-datatable-header'<'col-sm-6'B><'col-sm-6'f>>" +
            "<'row be-datatable-body'<'col-sm-12'tr>>" +
            "<'row be-datatable-footer'<'col-sm-5'i><'col-sm-7'p>>",

        buttons: [
            {
                text: 'Novo Paciente',
                action: function ( e, dt, node, config ) {
                    $('#id_modal_paciente_novo_editar h4').text('Novo Paciente');
                    $('#id_modal_paciente_novo_editar').modal('show');
                },
                className: 'btn btn-success '
            },
            {
                text: 'Editar Paciente',
                action: function ( e, dt, node, config ) {
                    $('#id_modal_paciente_novo_editar h4').text('Editar Paciente');
                    $('#id_modal_paciente_novo_editar').modal('show');
                    $('#id_modal_paciente_novo_editar div.modal-body').html('<p>' + JSON.stringify( dt.row( { selected: true } ).data()) + '</p>');
                },
                className: 'btn btn-warning',
                enabled: false
            },
            {
                text: 'Excluir Paciente',
                action: function ( e, dt, node, config ) {
                    $('#id_modal_paciente_excluir').modal('show');
                },
                className: 'btn btn-danger',
                enabled: true
            },
            {
                text: 'Exportar PDF',
                className: 'btn btn-primary',
                extend: 'pdfHtml5',
                messageTop: 'Nilton Nonato Garcia Júnior',
                download: 'open',
                /*customize: function ( doc ) {
                    doc.content.splice( 1, 0, {
                    margin: [ 0, 0, 0, 8],
                    alignment: 'center',
                    width: 100,
                    height: 100,
                    } );
                }*/
            }
        ],

        select: 'single',
        "processing": true,
        "serverSide": true,
        "ajax": "/paciente/buscarPacientes",

        "bLengthChange": false,
        "pageLength": 10,
        "ordering": true,
        "info":     true,

        "language": {
            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "_MENU_ resultados por página",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Buscando Pacientes ...",
            "sZeroRecords": "Nenhum paciente encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
            "sNext": "Próximo",
            "sPrevious": "Anterior",
            "sFirst": "Primeiro",
            "sLast": "Último"
        },
        "oAria": {
            "sSortAscending": ": Ordenar colunas de forma ascendente",
            "sSortDescending": ": Ordenar colunas de forma descendente"
            }
        },
    });

    table.on( 'select deselect', function () {
        let selectedRows = table.rows( { selected: true } ).count();
        table.button(1).enable( selectedRows > 0 );
    });

    let form_novo_editar = () =>{



    }


{% endblock %}
