<div class="modal fade" id="id_modal_agendar">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="id_form_agendar" method="POST">
                    {% csrf_token %}
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Período</label>
                                    <select class="form-control" style="width: 100%;" id="periodo">
                                        <option selected="selected">Manhã</option>
                                        <option>Tarde</option>
                                        <option>Noite</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Data</label>
                                    <div class="input-group date" id="timepickerData" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                               data-target="#timepickerData"/>
                                        <div class="input-group-append" data-target="#timepickerData"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="far fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Horário</label>
                                    <div class="input-group date" id="timepickerHorario" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input"
                                               data-target="#timepickerHorario"/>
                                        <div class="input-group-append" data-target="#timepickerHorario"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Paciente</label>
                                    <select class="form-control select2bs4" id="paciente" style="width: 100%;">
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Procedimentos</label>
                                    <select class="form-control select2bs4" id="procedimentos" name="procedimentos" multiple="multiple"
                                            style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Profissional</label>
                                    <select class="form-control select2bs4" id="profissional"
                                            style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-body p-0 table-responsive" style="height: 300px;">
                                    {% include 'agenda/elementos/tabelaFormulario.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
