<table class="table table-bordered table-head-fixed">
    <thead>
    <tr>
        <th style="width:10%">Horário</th>
        <th style="width:30%">Profissional</th>
        <th style="width:50%">Serviços</th>
        <th style="width:10%">Agendar ?</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>12:35</td>
        <td>Nilton Nonato Garcia Júnior</td>
        <td>Serviço 1, Serviço 2, Serviço 3, Serviço 4</td>
        <td>
            <a class="btn btn-app">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>12:35</td>
        <td>Nilton Nonato Garcia Júnior</td>
        <td>Serviço 1, Serviço 2, Serviço 3, Serviço 4</td>
        <td>
            <a class="btn btn-app">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>12:35</td>
        <td>Nilton Nonato Garcia Júnior</td>
        <td>Serviço 1, Serviço 2, Serviço 3, Serviço 4</td>
        <td>
            <a class="btn btn-app">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>12:35</td>
        <td>Nilton Nonato Garcia Júnior</td>
        <td>Serviço 1, Serviço 2, Serviço 3, Serviço 4</td>
        <td>
            <a class="btn btn-app">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>12:35</td>
        <td>Nilton Nonato Garcia Júnior</td>
        <td>Serviço 1, Serviço 2, Serviço 3, Serviço 4</td>
        <td>
            <a class="btn btn-app">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>12:35</td>
        <td>Nilton Nonato Garcia Júnior</td>
        <td>Serviço 1, Serviço 2, Serviço 3, Serviço 4</td>
        <td>
            <a class="btn btn-app">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>12:35</td>
        <td>Nilton Nonato Garcia Júnior</td>
        <td>Serviço 1, Serviço 2, Serviço 3, Serviço 4</td>
        <td>
            <a class="btn btn-app">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>12:35</td>
        <td>Nilton Nonato Garcia Júnior</td>
        <td>Serviço 1, Serviço 2, Serviço 3, Serviço 4</td>
        <td>
            <a class="btn btn-app">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>12:35</td>
        <td>Nilton Nonato Garcia Júnior</td>
        <td>Serviço 1, Serviço 2, Serviço 3, Serviço 4</td>
        <td>
            <a class="btn btn-app">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>12:35</td>
        <td>Nilton Nonato Garcia Júnior</td>
        <td>Serviço 1, Serviço 2, Serviço 3, Serviço 4</td>
        <td>
            <a class="btn btn-app">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
