{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="{% static 'assets/dist/img/Logo_Top.png' %}"
             alt="Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">ERP</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-header">SERVIÇOS</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Agenda
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'paciente' %}" class="nav-link" id="id_nav_link_pacientes">
                        <i class="nav-icon fas fa-user-injured"></i>
                        <p>
                            Pacientes
                        </p>
                    </a>
                </li>
                <li class="nav-header">CONFIGURAÇÔES</li>
                <li class="nav-item has-treeview" id="id_nav_treeview_configuracoes">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-clinic-medical"></i>
                        <p>
                            Clínica
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'conta' %}" class="nav-link" id="id_nav_link_conta">
                                <i class="far fa-user"></i>
                                <p>Minha Conta</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link">
                                <i class="fas fa-sign-out-alt"></i>
                                <p>Sair</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
