{% extends 'core/estrutura.html' %}
{% load static %}

{% block title %}Agenda{% endblock %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar/main.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar-daygrid/main.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar-list/main.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar-timegrid/main.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/fullcalendar-bootstrap/main.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/daterangepicker/daterangepicker.css' %}">
{% endblock %}


{% block extrabottomjs %}
<script src="{% static 'assets/plugins/moment/moment.min.js'  %}"></script>
<script src="{% static 'assets/plugins/fullcalendar/locales-all.js'  %}"></script>
<script src="{% static 'assets/plugins/fullcalendar/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/fullcalendar-daygrid/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/fullcalendar-list/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/fullcalendar-timegrid/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/fullcalendar-interaction/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/fullcalendar-bootstrap/main.min.js' %}"></script>
<script src="{% static 'assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'assets/ERP/js/agenda.js' %}"></script>
{% endblock %}


{% block content %}
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Agenda</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-body p-0">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include 'agenda/elementos/formulario.html' %}


</div>
{% endblock %}


{% block script %}

document.addEventListener('DOMContentLoaded', function() {

    let calendarEl = document.getElementById('calendar');
    calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
        themeSystem: 'bootstrap',
        header: {
            left: 'prev,next,today agendar',
            center: 'title',
            right: 'listDay,dayGridMonth'
            //right: 'dayGridMonth,timeGridWeek,timeGridDay,listDay'
        },
        defaultDate: new Date(),
        locale: 'pt',
        buttonIcons: false, // show the prev/next text
        weekNumbers: false,
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: false,
        selectable: true,
        slotDuration: '00:05:00',
        minTime: '08:00:00',
        maxTime: '18:00:00',
        defaultView: 'list',

        select: function(date, jsEvent, view) {
            console.log('Clicou');

        },
        click: function(info) {
            console.log('Clicou2');
        },
        events: [],
        customButtons: {
            agendar: {
                text: 'Agendar',
                click: function() {
                $('#id_modal_agendar h4').text('Agendamento');
                    $("#id_modal_agendar").modal('show');
                }
            }
        },

        eventPositioned: function(event){

        },
    });

    calendar.render();


    moment.locale('pt-BR');


    $('#reservationtime').daterangepicker({
        "timePicker24Hour": true,
        timePicker: true,
        timePickerIncrement: 5,
        "locale": {
            "format": "DD/MM/YYYY hh:mm A",
            "separator": " - ",
            "applyLabel": "Aplicar",
            "cancelLabel": "Cancelar",
            "fromLabel": "De",
            "toLabel": "Até",
            "customRangeLabel": "Custom",
            "daysOfWeek": [
                "Dom",
                "Seg",
                "Ter",
                "Qua",
                "Qui",
                "Sex",
                "Sáb"
            ],
            "monthNames": [
                "Janeiro",
                "Fevereiro",
                "Março",
                "Abril",
                "Maio",
                "Junho",
                "Julho",
                "Agosto",
                "Setembro",
                "Outubro",
                "Novembro",
                "Dezembro"
            ],
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
        }

    })

});

{% endblock %}